<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="rps_96">
        <div
          leftmargin="0"
          marginwidth="0"
          topmargin="0"
          marginheight="0"
          style="background-color: #e1e1e1"
        >
          <center style="background-color: #e1e1e1">
            <table
              border="0"
              cellpadding="0"
              cellspacing="0"
              height="100%"
              width="100%"
              id="x_bodyTable"
              style="
                table-layout: fixed;
                max-width: 100% !important;
                width: 100% !important;
                min-width: 100% !important;
                line-height: 28px;
              "
            >
              <tbody>
                <tr>
                  <td align="center" valign="top" id="x_bodyCell">
                    <table
                      bgcolor="#E1E1E1"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      id="x_emailHeader"
                    >
                      <tbody>
                        <tr>
                          <td align="center" valign="top">
                            <table
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              width="100%"
                            >
                              <tbody>
                                <tr>
                                  <td align="center" valign="top">
                                    <table
                                      border="0"
                                      cellpadding="10"
                                      cellspacing="0"
                                      class="x_flexibleContainer"
                                    >
                                      <tbody>
                                        <tr>
                                          <td
                                            valign="top"
                                            class="x_flexibleContainerCell"
                                          >
                                            <table
                                              align="left"
                                              border="0"
                                              cellpadding="0"
                                              cellspacing="0"
                                              width="100%"
                                            >
                                              <tbody>
                                                <tr>
                                                  <td
                                                    align="left"
                                                    valign="middle"
                                                    id="x_invisibleIntroduction"
                                                    class="x_flexibleContainerBox"
                                                    style="display: none !important"
                                                  >
                                                    <table
                                                      border="0"
                                                      cellpadding="0"
                                                      cellspacing="0"
                                                      width="100%"
                                                      style="max-width: 100%"
                                                    >
                                                      <tbody>
                                                        <tr>
                                                          <td
                                                            align="left"
                                                            class="x_textContent"
                                                          >
                                                            <div
                                                              style="
                                                                font-family: Helvetica,
                                                                  Arial, sans-serif;
                                                                font-size: 13px;
                                                                color: #828282;
                                                                text-align: center;
                                                                line-height: 120%;
                                                              "
                                                            ></div>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                  <td
                                                    align="right"
                                                    valign="middle"
                                                    class="x_flexibleContainerBox"
                                                  >
                                                    <table
                                                      border="0"
                                                      cellpadding="0"
                                                      cellspacing="0"
                                                      width="100%"
                                                      style="max-width: 100%"
                                                    >
                                                      <tbody>
                                                        <tr>
                                                          <td
                                                            align="left"
                                                            class="x_textContent"
                                                          ></td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table
                      bgcolor="#FFFFFF"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      width="70%"
                      id="x_emailBody"
                    >
                      <tbody>
                        <tr
                          style="
                            padding: 0px 50px 50px 50px;
                            border-top: 5px solid #2db268;
                          "
                        >
                          <td align="center" valign="top">
                            <table
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              width="100%"
                              style="color: #ffffff; background-color: #fbfbfb"
                            >
                              <tbody>
                                <tr>
                                  <td align="center" valign="top">
                                    <table
                                      border="0"
                                      cellpadding="0"
                                      cellspacing="0"
                                      width="100"
                                      class="x_flexibleContainer123"
                                    >
                                      <tbody>
                                        <tr>
                                          <td
                                            align="center"
                                            valign="top"
                                            class="x_flexibleContainerCell"
                                          >
                                            <table
                                              border="0"
                                              cellpadding="30"
                                              cellspacing="0"
                                              width="100%"
                                            >
                                              <tbody>
                                                <tr>
                                                  <td
                                                    align="center"
                                                    valign="top"
                                                    class="x_textContent"
                                                  >
                                                    <img
                                                      src="https://salaamtakaful.com/assets/images/footer-logo.png"
                                                      style="max-height: 110px"
                                                    />
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="center" valign="top">
                            <table
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              width="100%"
                              style="background-color: #f1f1f1"
                            >
                              <tbody>
                                <tr>
                                  <td align="center" valign="top">
                                    <table
                                      border="0"
                                      cellpadding="15"
                                      cellspacing="0"
                                      width="100%"
                                      class="x_flexibleContainer1"
                                    >
                                      <tbody>
                                        <tr>
                                          <td
                                            valign="top"
                                            class="x_flexibleContainerCell"
                                            style="
                                              padding: 10px 0px 10px 0px;
                                              border-bottom: 5px solid #2db268;
                                            "
                                          >
                                            <table
                                              align="left"
                                              border="0"
                                              cellpadding="0"
                                              cellspacing="0"
                                              width="100%"
                                            >
                                              <tbody>
                                                <tr>
                                                  <td
                                                    align="left"
                                                    valign="top"
                                                    class="x_flexibleContainerBox2"
                                                  >
                                                    <table
                                                      border="0"
                                                      cellpadding="0"
                                                      cellspacing="0"
                                                      width="100%"
                                                      style="max-width: 100%"
                                                    >
                                                      <tbody>
                                                        <tr>
                                                          <td
                                                            align="center"
                                                            class="x_textContent"
                                                            style="width: 170px"
                                                          >
                                                            <p
                                                              style="
                                                                text-align: left;
                                                                font-weight: 600;
                                                                color: #696969;
                                                                font-size: 16px;
                                                                padding: 0px 30px 0px
                                                                  30px;
                                                              "
                                                            >
                                                              Wishing that each day
                                                              brings you renewed
                                                              strength, brighter times
                                                              and a healthier, happier
                                                              you. Get well Soon.
                                                            </p>
                                                            <table
                                                              class="x_emailButton11"
                                                              width="40%"
                                                              cellspacing="0"
                                                              cellpadding="0"
                                                              border="0"
                                                              style="
                                                                background-color: #0f75bc;
                                                                margin-top: 30px;
                                                                border-radius: 8px;
                                                              "
                                                            ></table>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td
                            align="center"
                            valign="top"
                            style="background-color: #f1f1f1"
                          >
                            <table
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              width="100%"
                            >
                              <tbody>
                                <tr style="background: #e1e1e1">
                                  <td
                                    align="center"
                                    valign="top"
                                    style="background-color: #f8f8f8"
                                  >
                                    <table
                                      border="0"
                                      cellpadding="0"
                                      cellspacing="0"
                                      class="x_flexibleContainer1"
                                    >
                                      <tbody>
                                        <tr>
                                          <td
                                            align="center"
                                            valign="top"
                                            class="x_flexibleContainerCell"
                                          >
                                            <table
                                              border="0"
                                              cellpadding="30"
                                              cellspacing="0"
                                              width="100%"
                                            >
                                              <tbody>
                                                <tr>
                                                  <td
                                                    align="center"
                                                    valign="top"
                                                    style="background-color: #f8f8f8"
                                                  >
                                                    <table
                                                      border="0"
                                                      cellpadding="0"
                                                      cellspacing="0"
                                                      width="100%"
                                                    >
                                                      <tbody>
                                                        <tr>
                                                          <td
                                                            valign="top"
                                                            class="x_textContent"
                                                            style="line-height: 1em"
                                                          >
                                                            <div
                                                              style="
                                                                font-family: Arial;
                                                                font-size: 10px;
                                                                line-height: 26px;
                                                                text-align: center;
                                                                color: #333;
                                                              "
                                                            >
                                                              <span
                                                                style="
                                                                  font-family: tahoma;
                                                                  font-size: 12px;
                                                                  font-weight: 600;
                                                                  color: #696969;
                                                                "
                                                                >Any Questions? Reach
                                                                us at</span
                                                              >
                                                              <br /><img
                                                                data-imagetype="External"
                                                                src="blob:https://outlook.live.com/34e33ff9-ed8f-45d2-9f2d-56fc5b3d8200"
                                                                originalsrc="http://54.36.109.50/TravelUI_Test/assets/images/g1.png"
                                                                data-imageproxyendpoint="/actions/ei"
                                                                alt=""
                                                                width="20px"
                                                                align="absmiddle"
                                                                style="
                                                                  display: inline;
                                                                "
                                                              />&nbsp;<a
                                                                href="https://www.salaamtakaful.com"
                                                                target="_blank"
                                                                rel="noopener noreferrer"
                                                                data-auth="NotApplicable"
                                                                style="
                                                                  text-decoration: none;
                                                                  font-family: tahoma;
                                                                  font-weight: 400;
                                                                  color: #696969;
                                                                  border: none;
                                                                "
                                                                >www.salaamtakaful.com</a
                                                              >&nbsp;|&nbsp;<img
                                                                data-imagetype="External"
                                                                src="blob:https://outlook.live.com/dd81e093-6e37-40ce-b305-04d4091e033b"
                                                                originalsrc="http://54.36.109.50/TravelUI_Test/assets/images/m1.png"
                                                                data-imageproxyendpoint="/actions/ei"
                                                                alt=""
                                                                width="20px"
                                                                align="absmiddle"
                                                                style="
                                                                  display: inline;
                                                                "
                                                              />&nbsp;<a
                                                                href="mailto:info@salaamtakaful.com"
                                                                target="_blank"
                                                                rel="noopener noreferrer"
                                                                data-auth="NotApplicable"
                                                                style="
                                                                  text-decoration: none;
                                                                  font-family: tahoma;
                                                                  font-weight: 400;
                                                                  color: #696969;
                                                                  border: none;
                                                                "
                                                                >info@salaamtakaful.com</a
                                                              >
                                                              &nbsp;|&nbsp;<img
                                                                data-imagetype="External"
                                                                src="blob:https://outlook.live.com/ceeb4a9b-7387-451f-89b1-758e41fb1499"
                                                                originalsrc="http://54.36.109.50/TravelUI_Test/assets/images/p2.png"
                                                                data-imageproxyendpoint="/actions/ei"
                                                                alt=""
                                                                width="20px"
                                                                align="absmiddle"
                                                                style="
                                                                  display: inline;
                                                                "
                                                              />&nbsp;<span
                                                                style="
                                                                  font-family: tahoma;
                                                                  font-weight: 400;
                                                                  color: #696969;
                                                                "
                                                                >+92-21-111-875-111</span
                                                              >
                                                            </div>
                                                            <br />
                                                            <div
                                                              style="
                                                                color: #222222;
                                                                text-align: center;
                                                                font-size: 8px;
                                                                margin: auto;
                                                                width: 100%;
                                                                line-height: 1.4em;
                                                                font-style: unset;
                                                              "
                                                            >
                                                              <span
                                                                style="
                                                                  font-family: tahoma;
                                                                  font-weight: 700;
                                                                  color: #696969;
                                                                  line-height: 2.2em;
                                                                "
                                                                >Copyright Salaam
                                                                Takaful 2022. All
                                                                Rights Reserved</span
                                                              >
                                                              <br />This is a
                                                              copyright email from
                                                              <b
                                                                style="color: #008bc6"
                                                                >Salaam Takaful</b
                                                              >
                                                              mobile application. This
                                                              email or any portion
                                                              thereof may not be
                                                              reproduced or used in
                                                              any manner whatsoever
                                                              without the express
                                                              written permission of
                                                              the publisher.
                                                            </div>
                                                            <br />
                                                            <div
                                                              style="
                                                                text-align: center;
                                                              "
                                                            >
                                                              <a
                                                                href="https://www.crescenticdigital.com/"
                                                                target="_blank"
                                                                rel="noopener noreferrer"
                                                                data-auth="NotApplicable"
                                                                style="
                                                                  font-family: tahoma;
                                                                  color: #696969;
                                                                  font-size: 10px;
                                                                "
                                                                >Powered By:
                                                                <span
                                                                  style="
                                                                    color: #a30408;
                                                                  "
                                                                  >Crescentic Digital</span
                                                                ></a
                                                              >
                                                            </div>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </center>
        </div>
      </div>
  </body>
</html>